* {
    box-sizing: border-box
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    border: 2px solid black;
}
.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: brown;
    border: 3px solid black;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: yellow;
    font-size: 32px;
}
.button {
    margin: 10px;
}
@keyframes box11 {
    from {left: 0px;}
    to {left: 0px;}
}
@keyframes box12 {
    from {left: 0px;}
    to {left: 0px;}
}
@keyframes box13 {
    from {left: 0px;}
    to {left: 0px;}
}
@keyframes box1 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: 90px; color: yellow;}
    20% {left: -275px; top: 150px; color: yellow;}
    30% {left: 225px; top: -75px; color: yellow;}
    40% {left: -180px; top: 190px; color: yellow;}
    50% {left: 170px; top: -160px; color: yellow;}
    60% {left: -130px; top: 210px; color: yellow;}
    70% {left: 220px; top: 110px; color: yellow;}
    80% {left: -255px; top: 90px;}
    90% {left: 230px; top: -120px;}
    100% {left: 60px; top: 0px; color: brown;}
}
@keyframes box2 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: -210px; top: -100px; color: yellow;}
    20% {left: 230px; top: 195px; color: yellow;}
    30% {left: -95px; top: -45px; color: yellow;}
    40% {left: 165px; top: 90px; color: yellow;}
    50% {left: -245px; top: -160px; color: yellow;}
    60% {left: 135px; top: 235px; color: yellow;}
    70% {left: -145px; top: -190px; color: yellow;}
    80% {left: 245px; top: 90px;}
    90% {left: -180px; top: -245px;}
    95% {left: 0px; top: 135px;}
    100% {left: 60px; top: 0px; color: brown;}
}
@keyframes box3 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: -90px; color: yellow;}
    20% {left: -230px; top: 150px; color: yellow;}
    30% {left: 245px; top: -175px; color: yellow;}
    40% {left: -120px; top: 90px; color: yellow;}
    50% {left: 180px; top: -125px; color: yellow;}
    60% {left: -80px; top: 210px; color: yellow;}
    70% {left: 135px; top: -110px; color: yellow;}
    80% {left: -80px; top: 175px;}
    90% {left: 230px; top: -120px;}
    100% {left: -120px; top: 0px; color: brown;}
}
@keyframes box4 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: 90px; color: yellow;}
    20% {left: -275px; top: 150px; color: yellow;}
    30% {left: 225px; top: -75px; color: yellow;}
    40% {left: -180px; top: 190px; color: yellow;}
    50% {left: 170px; top: -160px; color: yellow;}
    60% {left: -130px; top: 210px; color: yellow;}
    70% {left: 220px; top: 110px; color: yellow;}
    80% {left: -255px; top: 90px;}
    90% {left: 230px; top: -120px;}
    100% {left: 120px; top: 0px; color: brown;}
}
@keyframes box5 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: -210px; top: -100px; color: yellow;}
    20% {left: 230px; top: 195px; color: yellow;}
    30% {left: -95px; top: -45px; color: yellow;}
    40% {left: 165px; top: 90px; color: yellow;}
    50% {left: -245px; top: -160px; color: yellow;}
    60% {left: 135px; top: 235px; color: yellow;}
    70% {left: -145px; top: -190px; color: yellow;}
    80% {left: 245px; top: 90px;}
    90% {left: -180px; top: -245px;}
    95% {left: 0px; top: 135px;}
    100% {left: -60px; top: 0px; color: brown;}
}
@keyframes box6 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: -90px; color: yellow;}
    20% {left: -230px; top: 150px; color: yellow;}
    30% {left: 245px; top: -175px; color: yellow;}
    40% {left: -120px; top: 90px; color: yellow;}
    50% {left: 180px; top: -125px; color: yellow;}
    60% {left: -80px; top: 210px; color: yellow;}
    70% {left: 135px; top: -110px; color: yellow;}
    80% {left: -80px; top: 175px;}
    90% {left: 230px; top: -120px;}
    100% {left: -60px; top: 0px; color: brown;}
}
@keyframes box7 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: 90px; color: yellow;}
    20% {left: -275px; top: 150px; color: yellow;}
    30% {left: 225px; top: -75px; color: yellow;}
    40% {left: -180px; top: 190px; color: yellow;}
    50% {left: 170px; top: -160px; color: yellow;}
    60% {left: -130px; top: 210px; color: yellow;}
    70% {left: 220px; top: 110px; color: yellow;}
    80% {left: -255px; top: 90px;}
    90% {left: 230px; top: -120px;}
    100% {left: 0px; top: 0px; color: brown;}
}
@keyframes box8 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: -210px; top: -100px; color: yellow;}
    20% {left: 230px; top: 195px; color: yellow;}
    30% {left: -95px; top: -45px; color: yellow;}
    40% {left: 165px; top: 90px; color: yellow;}
    50% {left: -245px; top: -160px; color: yellow;}
    60% {left: 135px; top: 235px; color: yellow;}
    70% {left: -145px; top: -190px; color: yellow;}
    80% {left: 245px; top: 90px;}
    90% {left: -180px; top: -245px;}
    95% {left: 0px; top: 135px;}
    100% {left: 60px; top: 0px; color: brown;}
}
@keyframes box9 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: -90px; color: yellow;}
    20% {left: -230px; top: 150px; color: yellow;}
    30% {left: 245px; top: -175px; color: yellow;}
    40% {left: -120px; top: 90px; color: yellow;}
    50% {left: 180px; top: -125px; color: yellow;}
    60% {left: -80px; top: 210px; color: yellow;}
    70% {left: 135px; top: -110px; color: yellow;}
    80% {left: -80px; top: 175px;}
    90% {left: 230px; top: -120px;}
    100% {left: -60px; top: 0px; color: brown;}
}