* {
    box-sizing: border-box
}
.box-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    border: 2px solid black;
}

.true-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 105px;
  }
  
  .word1 {
    display: flex;
  }
  
  .word2 {
    display: flex;
    margin-left: 16px;
  }
  
  .word3 {
    display: flex;
    height: 20px;
    width: 32px;
    /* margin-left: 16px; */
  }

  .word4 {
    display: flex;
    margin-left: 14px;
  }

  .word5 {
    display: flex;
    height: 20px;
    width: 32px;
    margin-left: 16px;
  }

  .word6 {
    display: flex;
    /* margin-left: 16px; */
  }
  
  .letters {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 16px;
    width: 14px;
    /* transform: rotateY(.5turn); */
    transform-style: preserve-3d;
  }
  
  @keyframes flip1 {
    from {transform: rotateY(0)}
    to {transform: rotateY(.5turn)}
  }
  
  @keyframes reset {
    from {transform: rotateY(.5turn)}
    to {transform: rotateY(0)}
  }

  @keyframes heightWidthZero {
    from {height: 20px; width: 32px;}
    to {height: 0; width: 0;}
  }

  @keyframes marginLeftZero {
    from {margin-left: 16px;}
    to {margin-left: 0;}
  }

  @keyframes heightWidthNormal {
    from {height: 0; width: 0;}
    to {height: 20px; width: 32px;}
  }

  @keyframes marginLeftNormal {
    from {margin-left: 0;}
    to {margin-left: 16px;}
  }
  
  .front1,
  .back1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
  }
  
  .front1{
    transform: translateZ(4px);
  }
  
  .back1 {
    transform: translateZ(-4px) rotateY(.5turn);
  }

.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: brown;
    border: 3px solid black;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: yellow;
    font-size: 32px;
    cursor: pointer;
}

.right, .wrong, .wrong2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 48px;
    display: none;
}

.button {
    margin: 10px;
}

@keyframes box11 {
    from {left: 0px;}
    to {left: 0px;}
}
@keyframes box12 {
    from {left: 0px;}
    to {left: 0px;}
}
@keyframes box13 {
    from {left: 0px;}
    to {left: 0px;}
}

@keyframes box1 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: 90px; color: yellow;}
    20% {left: -275px; top: 150px; color: yellow;}
    30% {left: 225px; top: -75px; color: yellow;}
    40% {left: -180px; top: 190px; color: yellow;}
    50% {left: 170px; top: -160px; color: yellow;}
    60% {left: -130px; top: 210px; color: yellow;}
    70% {left: 220px; top: 110px; color: yellow;}
    80% {left: -255px; top: 90px;}
    90% {left: 230px; top: -120px;}
    100% {left: 60px; top: 0px; color: brown;}
}
@keyframes box2 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: -210px; top: -100px; color: yellow;}
    20% {left: 230px; top: 195px; color: yellow;}
    30% {left: -95px; top: -45px; color: yellow;}
    40% {left: 165px; top: 90px; color: yellow;}
    50% {left: -245px; top: -160px; color: yellow;}
    60% {left: 135px; top: 235px; color: yellow;}
    70% {left: -145px; top: -190px; color: yellow;}
    80% {left: 245px; top: 90px;}
    90% {left: -180px; top: -245px;}
    95% {left: 0px; top: 135px;}
    100% {left: 60px; top: 0px; color: brown;}
}
@keyframes box3 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: -90px; color: yellow;}
    20% {left: -230px; top: 150px; color: yellow;}
    30% {left: 245px; top: -175px; color: yellow;}
    40% {left: -120px; top: 90px; color: yellow;}
    50% {left: 180px; top: -125px; color: yellow;}
    60% {left: -80px; top: 210px; color: yellow;}
    70% {left: 135px; top: -110px; color: yellow;}
    80% {left: -80px; top: 175px;}
    90% {left: 230px; top: -120px;}
    100% {left: -120px; top: 0px; color: brown;}
}
@keyframes box4 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: 90px; color: yellow;}
    20% {left: -275px; top: 150px; color: yellow;}
    30% {left: 225px; top: -75px; color: yellow;}
    40% {left: -180px; top: 190px; color: yellow;}
    50% {left: 170px; top: -160px; color: yellow;}
    60% {left: -130px; top: 210px; color: yellow;}
    70% {left: 220px; top: 110px; color: yellow;}
    80% {left: -255px; top: 90px;}
    90% {left: 230px; top: -120px;}
    100% {left: 120px; top: 0px; color: brown;}
}
@keyframes box5 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: -210px; top: -100px; color: yellow;}
    20% {left: 230px; top: 195px; color: yellow;}
    30% {left: -95px; top: -45px; color: yellow;}
    40% {left: 165px; top: 90px; color: yellow;}
    50% {left: -245px; top: -160px; color: yellow;}
    60% {left: 135px; top: 235px; color: yellow;}
    70% {left: -145px; top: -190px; color: yellow;}
    80% {left: 245px; top: 90px;}
    90% {left: -180px; top: -245px;}
    95% {left: 0px; top: 135px;}
    100% {left: -60px; top: 0px; color: brown;}
}
@keyframes box6 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: -90px; color: yellow;}
    20% {left: -230px; top: 150px; color: yellow;}
    30% {left: 245px; top: -175px; color: yellow;}
    40% {left: -120px; top: 90px; color: yellow;}
    50% {left: 180px; top: -125px; color: yellow;}
    60% {left: -80px; top: 210px; color: yellow;}
    70% {left: 135px; top: -110px; color: yellow;}
    80% {left: -80px; top: 175px;}
    90% {left: 230px; top: -120px;}
    100% {left: -60px; top: 0px; color: brown;}
}
@keyframes box7 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: 90px; color: yellow;}
    20% {left: -275px; top: 150px; color: yellow;}
    30% {left: 225px; top: -75px; color: yellow;}
    40% {left: -180px; top: 190px; color: yellow;}
    50% {left: 170px; top: -160px; color: yellow;}
    60% {left: -130px; top: 210px; color: yellow;}
    70% {left: 220px; top: 110px; color: yellow;}
    80% {left: -255px; top: 90px;}
    90% {left: 230px; top: -120px;}
    100% {left: 0px; top: 0px; color: brown;}
}
@keyframes box8 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: -210px; top: -100px; color: yellow;}
    20% {left: 230px; top: 195px; color: yellow;}
    30% {left: -95px; top: -45px; color: yellow;}
    40% {left: 165px; top: 90px; color: yellow;}
    50% {left: -245px; top: -160px; color: yellow;}
    60% {left: 135px; top: 235px; color: yellow;}
    70% {left: -145px; top: -190px; color: yellow;}
    80% {left: 245px; top: 90px;}
    90% {left: -180px; top: -245px;}
    95% {left: 0px; top: 135px;}
    100% {left: 60px; top: 0px; color: brown;}
}
@keyframes box9 {
    0% {left: 0px; top: 0px; color: yellow;}
    10% {left: 250px; top: -90px; color: yellow;}
    20% {left: -230px; top: 150px; color: yellow;}
    30% {left: 245px; top: -175px; color: yellow;}
    40% {left: -120px; top: 90px; color: yellow;}
    50% {left: 180px; top: -125px; color: yellow;}
    60% {left: -80px; top: 210px; color: yellow;}
    70% {left: 135px; top: -110px; color: yellow;}
    80% {left: -80px; top: 175px;}
    90% {left: 230px; top: -120px;}
    100% {left: -60px; top: 0px; color: brown;}
}

/* Stacking animation testing with a "Circle"
.circle {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
    margin-top: 5px;
    animation: leftone 2s linear forwards, lefttwo 2s linear 3s;
}
@keyframes leftone {
    from {left: 0px;}
    to {left: 10px;}
}
@keyframes lefttwo {
    from {left: 10px;}
    to {left: 20px;}
} */
.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.cube, .cross, .cube2, .cross2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: brown;
    border: 3px solid black;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: yellow;
    font-size: 32px;
    cursor: pointer;
}

.cross, .cross2 {
    display: none;
}

@keyframes cubes {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes cubes2 {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes cross {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes cross2 {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut1 {
    from {opacity: 1; left: 60px; color: brown;}
    to {opacity: 0; left: 60px; color: brown;}
}
@keyframes fadeOut2 {
    from {opacity: 1; left: 60px; color: brown;}
    to {opacity: 0; left: 60px; color: brown;}
}
@keyframes fadeOut3 {
    from {opacity: 1; left: -120px; color: brown;}
    to {opacity: 0; left: -120px; color: brown;}
}
@keyframes fadeIn1 {
    from {opacity: 0; left: 60px;}
    to {opacity: 1; left: 60px;}
}
@keyframes fadeIn2 {
    from {opacity: 0; left: 60px;}
    to {opacity: 1; left: 60px;}
}
@keyframes fadeIn3 {
    from {opacity: 0; left: -120px;}
    to {opacity: 1; left: -120px;}
}

@keyframes fadeOut4 {
    from {opacity: 1; left: 120px; color: brown;}
    to {opacity: 0; left: 120px; color: brown;}
}
@keyframes fadeOut5 {
    from {opacity: 1; left: -60px; color: brown;}
    to {opacity: 0; left: -60px; color: brown;}
}
@keyframes fadeOut6 {
    from {opacity: 1; left: -60px; color: brown;}
    to {opacity: 0; left: -60px; color: brown;}
}
@keyframes fadeIn4 {
    from {opacity: 0; left: 120px;}
    to {opacity: 1; left: 120px;}
}
@keyframes fadeIn5 {
    from {opacity: 0; left: -60px;}
    to {opacity: 1; left: -60px;}
}
@keyframes fadeIn6 {
    from {opacity: 0; left: -60px;}
    to {opacity: 1; left: -60px;}
}

@keyframes fadeOut7 {
    from {opacity: 1; left: 0px; color: brown;}
    to {opacity: 0; left: 0px; color: brown;}
}
@keyframes fadeOut8 {
    from {opacity: 1; left: 60px; color: brown;}
    to {opacity: 0; left: 60px; color: brown;}
}
@keyframes fadeOut9 {
    from {opacity: 1; left: -60px; color: brown;}
    to {opacity: 0; left: -60px; color: brown;}
}
@keyframes fadeIn7 {
    from {opacity: 0; left: 0px;}
    to {opacity: 1; left: 0px;}
}
@keyframes fadeIn8 {
    from {opacity: 0; left: 60px;}
    to {opacity: 1; left: 60px;}
}
@keyframes fadeIn9 {
    from {opacity: 0; left: -60px;}
    to {opacity: 1; left: -60px;}
}